<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WsHttpBinding_IWsPrimeQueryService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          maxReceivedMessageSize="65536">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None" />
        </binding>
        <binding name="v9EndPoint">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://mswcibe01n:8242/Search.Service.Web-10.5/v9.svc"
        binding="wsHttpBinding" bindingConfiguration="WsHttpBinding_IWsPrimeQueryService"
        contract="WCFAPIService86.IWsPrimeQueryService" name="WsHttpBinding_IWsPrimeQueryService" />
      <endpoint address="http://mswcibe01n.inspinc.ad:8242/Search.Service.Web-branches.develop-short/v9.svc"
        binding="wsHttpBinding" bindingConfiguration="v9EndPoint" contract="WCFAPIService86.IWsPrimeQueryService"
        name="v9EndPoint" />
    </client>
  </system.serviceModel>
</configuration>